.timer-container {
  text-align: center;
}

.timer-display {
  margin-bottom: 1.5rem;
  font-family: monospace;
  font-size: 3rem !important;
}

.timer-button {
  font-size: 1rem !important;
  padding: 0.5rem 1.5rem !important;
  border-radius: 12px !important;
}

.button-group {
  display: flex;
  gap: 1rem;
  justify-content: center;
} 